*.diff
*.patch
*.orig
*.rej

*~
*.a
*.flt
*.gdb
*.gmo
*.info
*.la
*.lo
*.o
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
Makefile
stamp-*
POTFILES
*-POTFILES
*/po/Makefile.in

.gdbinit
.gdb_history
core

lost+found

*.log
*.sum

ABOUT-NLS
ChangeLog.tree-ssa
INSTALL
README.SCO
autom4te.cache
boehm-gc
contrib
fixincludes
gcc
gmp
gnattools
libada
libcpp
libffi
libgcc
libgfortran
libgomp
libjava
libmudflap
libobjc
libssp
libstdc++-v3
libtool-ldflags
maintainer-scripts
mpc
mpfr
zlib
