[submodule "gcc.git"]
	path = gcc.git
	url = https://bitbucket.org/pizzafactory/pf-gcc.git
[submodule "gcc-deplibs.git"]
	path = gcc-deplibs.git
	url = https://bitbucket.org/pizzafactory/gcc-deplibs.git
